<section>
  <div class="row">
    <div class="col-md-12">
      <div class="widget stacked">
        <div class="widget-header"><i class="icon-tasks"></i><h3>Log In</h3></div> <!-- /.widget-header -->
  				<div class="widget-content">
<h4>{{message}}</h4>
<form class="form-horizontal" role="form" ng-submit="login()">
  
  <div class="form-group">
    <label class="col-md-2 control-label" for="username">Username (email)</label>
    <div class="col-md-3">
      <input type="email" class="form-control" ng-model="user.username" id="username" placeholder="email@domain.com" ng-minlength="3" required="">
    </div>
  </div>
    
  <div class="form-group">
    <label class="col-md-2 control-label" for="password">Password</label>
    <div class="col-md-3">
      <input type="password" class="form-control" ng-model="user.password" id="password" ng-minlength="3" required="">
    </div>

  </div> 

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Login</button>
			</div>
		</div>
	</form>
  
</div></div></div></div>
</section>